:root {
  --main-title-color: #303030;
  --secondary-text-color: #555555;
  --accent-color: #FF6C00;
  --dark-theme-main-title: #FFFFFF;
  --dark-theme-secondary-text: #9da4bd;
  --dark-theme-secondary-text-a: #9da4bd99;
  --secondary-background-color: #F7F7F7;
  --body-background-color: #E5E5E5;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans',sans-serif;
  font-style: normal;
  font-weight: 400;
}

section {
  max-width: 1280px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.link {
  display: flex;
  color: inherit;
  text-decoration: none;
  outline: none;

  transition: color 250ms linear;
}

.link.dark {
  color: var(--dark-theme-main-title);
}

.link:hover,
.link:focus,
.link:hover .adress-list-icon,
.link:focus .adress-list-icon{
  color: var(--accent-color);
  stroke: var(--accent-color);
  cursor: pointer;
}



.list {
  list-style: none;
}

.adress {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.social-link-list {
  display: flex;
  align-items: center;
}

.social-link-list::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 40px;
  background-color: currentColor;
}

.social-link-item:not(:last-child) {
  margin-right: 40px;
}

/* fonts styles */
.dark {
  color: var(--dark-theme-secondary-text);
}

p {
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--secondary-text-color);
}

.dark p {
  color: var(--dark-theme-secondary-text);
}

.section-title {
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--title-color);
}

.dark .section-title {
  color: var(--dark-theme-main-title);
}

.subtitle {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.dark .subtitle {
  color: var(--dark-theme-secondary-text-a);
}

.subtitle::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: currentColor;
}

.hero-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
}

.dark .hero-title {
  color: var(--dark-theme-main-title);
}

.main-descr-p {
  margin-bottom: 65px;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
}

.features-li-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  letter-spacing: 0.05em;
  
  color: var(--main-title-color);
}

.features-li-text {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  
  color: var(--main-title-color);
}

/* ==================================HEADER================================== */
.header {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
}

.header .container {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: unset;
}

.nav-bar {
  display: flex;
  justify-content: center;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 71px;

  text-align: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
}

.nav-list-item {
  display: flex;
  justify-content: center;
  margin-right: 40px;
}

.logo {
  outline: none;
}


.tel-link {
  margin-left: auto;
  margin-right: 40px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
}

.main-btn {
  display: inline-block;
  min-width: 160px;
  padding: 12px 20px;

  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  background: none;

    outline: none;
  border: 1px solid #FF6C00;
  border-radius: 25px;

  transition: background-color 250ms linear, color 250ms linear ;
}

.dark .main-btn,
.main-btn.dark {
  color: var(--dark-theme-main-title);
}

.main-btn:hover,
.main-btn:focus {
  background-color: var(--accent-color);
  color: var(--dark-theme-main-title);
  cursor: pointer;
}


/* ================================HEADER END================================ */

/* ===================================HERO=================================== */
.hero .container {
  display: flex;
  padding: 0;
}

.hero-left-part {
  display: flex;
  align-items: end;
  width: 115px;
  padding-left: 42px;
}

.hero .social-link-list {
  margin: 0;
  transform: rotate(-90deg);
  transform-origin: left top;
}

.hero-right-part {
  display: block;
  align-items: center;
  width: 1070px;
  height: 680px;
  padding-top: 272px;
  padding-left: 100px;
  background-image: url(../images/hero/hero_image.jpg);
}
/* =================================HERO END================================= */

/* ==================================ABOUT================================== */
.about .container {
  display: flex;
  padding-top: 130px;
  padding-bottom: 130px;
}

.about-list {
  display: flex;
}

.about-block + .about-block {
  margin-left: 64px;
}

.about-list li + li {
  margin-left: 30px;
}
/* ================================ABOUT END================================ */
/* =================================SERVICES================================= */
.services {
  background-color: #111319;
  background-image: url(../images/services/services-png.png);
}

.services .container {
  display: block;
  padding-top: 130px;
  padding-bottom: 130px;
  background: none;
}

.services .section-title {
  margin-bottom: 44px;
}

.price-block {
  display: flex;
}

.price-list {
  width: 50%;
  padding: 30px 40px;
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.price-list > li:not(:last-child) {
  margin-bottom: 20px;
}

.price-list.left {
  background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price-list.right {
  background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.services .main-btn {
  margin: 0 auto;
  display: block;
}

.price-item .value {
  order: 3;
}

.price-item {
  display: flex;
  align-items: baseline;
}

.price-item::before {
  content: "";
  border-bottom: 1px solid rgba(157, 164, 189, 0.12);
  order: 1;
  flex-grow: 1;
  height: 1px;
}
/* ===============================SERVICES END=============================== */

/* =================================ADVANTAGES================================= */
.advantages .container {
  display: flex;
  padding-top: 130px;
  padding-bottom: 130px;
}

.our-advantages.left {
  width: calc((100% - 30px) / 2);
  margin-left: 0;
  padding: 0 65px;
}

.our-advantages.right {
  width: calc((100% - 30px) / 2);
  margin-bottom: 0;
  padding-left: 30px;
  margin-right: 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  margin: 0 auto;
}

.advantages-list-item {
  width: calc(50% - 30px);
  height: 133px;
  padding: 20px 20px;
  text-align: center;
  background-color: var(--secondary-background-color);
}

.advantages-li-title {
  position: relative;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.05em;
  
  color: var(--main-title-color);
}

.plus-icon {
  position: absolute;
}

.advantages-li-text {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.363;
  text-align: center;
  
  color: var(--main-title-color);
}

.advantages-list-item:nth-child(even) {
  margin-top: 30px;
}

.advantages-list-item:not(:nth-child(even)) {
  margin-right: 30px;
}
/* ===============================ADVANTAGES END=============================== */

/* =================================MASTERS================================== */
.masters {
  background-color: var(--secondary-background-color);
}

.masters .container {
  padding-top: 130px;
  padding-bottom: 130px;
  flex-direction: column;
}

.masters .section-title {
  margin-bottom: 44px;
}

.master-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.master-list-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
  margin-bottom: 30px;
}

.master-list-card > img {
  margin-bottom: 30px;
}

.master-name {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.social-icons-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: var(--main-title-color);

  transition: fill 250ms linear;
}

.social-link-icon {
  display: flex;
  align-items: center;
  width: 44px;
  height: 44px;
  padding: 12px;
  background-color: var(--dark-theme-main-title);
  color: var(--main-title-color);
  border-radius: 50%;
  transition: background-color 250ms linear;
}

.social-link-icon:hover .social-icon,
.social-link-icon:focus .social-icon {
  outline: none;
  fill: var(--accent-color);
}

.social-link-icon:hover,
.social-link-icon:focus {
  background-color: var(--main-title-color);
}



/* ===============================MASTERS END================================ */

/* =================================GALERY=================================== */
.galery .container {
  display: flex;
  flex-direction: column;
  padding-top: 130px;
  padding-bottom: 130px;
}

.galery .subtitle {
  margin-bottom: 44px;
}

.fotogalery {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.fotogalery > .foto {
  margin-right: 30px;
  margin-bottom: 30px;
}
/* ===============================GALERY END================================= */

/* ================================CONTACTS================================== */
.contacts {
  background-image: url(../images/contacts/Bg.png), linear-gradient(to right, rgba(25, 28, 38, 1), rgba(25, 28, 38, 1));
  background-position: 100% 50%;
  background-repeat: no-repeat;
}

.contacts-container {
  width: 100%;
}

.contacts .container {
  display: flex;
}

.form-section {
  width: 50%;
  padding-top: 130px;
  padding-bottom: 130px;
  padding-left: 15px;
  padding-right: 40px;
}

.form-section > .section-title {
  margin-bottom: 44px;
}

.booking-form-container {
  display: flex;
  justify-content: space-between;
}

.form-input {
  width: calc((100% - 30px) / 2);
  margin-bottom: 44px;
  background-color: inherit;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.363;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  
  color: var(--dark-theme-secondary-text-a);

  outline: none;
  border-style: none;
  border-bottom: 1px solid var(--dark-theme-secondary-text-a);
}

.form-input::placeholder {
  color: var(--dark-theme-secondary-text-a);
  background-color: inherit;
  border-style: none;
}

.form-input:focus {
  color: var(--dark-theme-main-title);
  border-color: var(--dark-theme-main-title);
}

.form-input:focus::placeholder {
  color: var(--dark-theme-main-title);
}

.textarea-form {
  width: 100%;
  resize: none;
}

.contacts-section {
  width: 50%;
  padding-top: 130px;
  padding-bottom: 130px;
  padding-left: 100px;
  /* background-image: url(../images/contacts/Bg.png); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contacts-section > .section-title {
  margin-bottom: 40px;
}

.contacts-section > .subtitle {
  color: var(--dark-theme-main-title);
}

.adress-list {
  margin-bottom: 70px;
}

.adress-list > .adress-list-item {
  display: flex;
  margin-bottom: 20px;
}

.adress-list-item > .link {
  align-items: center;
} 

.adress-list-icon {
  margin-right: 20px;
  fill: none;
  stroke: var(--dark-theme-secondary-text);

  transition: stroke 250ms linear;
}

.contacts-section > .subtitle {
  color: var(--dark-theme-main-title);
}
/* ==============================CONTACTS END================================ */

/* =================================FOOTER=================================== */
.footer {
  display: flex;
  align-items: center;
  width: 100%;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 56px 15px;
}

.copyright {
  display: flex;
  align-items: center;
  margin: 0;
}

.footer .social-link-item > .link {
  margin-bottom: 0;
  padding: 0;
}
/* ===============================FOOTER END================================= */
/* =================================MODAL==================================== */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  background-color: rgba(85, 85, 85, 0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 700px;

  transform: translate(-50%, -50%);

  background-color: var(--body-background-color);
}
/* ===============================MODAL END================================== */
