:root {
  --main-title-color: #303030;
  --secondary-text-color: #555555;
  --accent-color: #FF6C00;
  --dark-theme-main-title: #FFFFFF;
  --dark-theme-secondary-text: #9da4bd;
  --dark-theme-secondary-text-a: #9da4bd99;
  --secondary-background-color: #F7F7F7;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.link {
  color: inherit;
  text-decoration: none;

  transition: color 250ms linear;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

.adress {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  display: flex;
  width: 1280px;
  padding: 130px 55px;
  margin: 0 auto;

  outline: 1px solid teal;
}

.social-link-list {
  display: flex;
}

.social-link-item:not(:last-child) {
  margin-right: 40px;
}

/* fonts styles */
.dark {
  color: var(--dark-theme-secondary-text);
}

p {
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--secondary-text-color);
}

.dark p {
  color: var(--dark-theme-secondary-text);
}

.section-title {
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--title-color);
}

.dark .section-title {
  color: var(--dark-theme-main-title);
}

.subtitle {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.dark .subtitle {
  color: var(--dark-theme-secondary-text-a);
}

.hero-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
}

.dark .hero-title {
  color: var(--dark-theme-main-title);
}

.main-descr-p {
  margin-bottom: 65px;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
}

.features-li-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  letter-spacing: 0.05em;
  
  color: var(--main-title-color);
}

.features-li-text {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  
  color: var(--main-title-color);
}

/* ==================================HEADER================================== */
.header {
  display: flex;
  width: 100%;
  outline: 1px solid red;
}

.header .container {
  justify-content: space-between;
  padding: 32px 55px;

}

.nav-bar {
  display: flex;
  justify-content: center;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
}

.nav-list-item {
  display: flex;
  justify-content: center;
  margin-left: 40px;
}

.nav-link {
}

.tel-link {
  margin-right: 40px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.main-btn {
  display: inline-block;
  min-width: 160px;
  padding: 12px 20px;

  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  background: none;

  border: 1px solid #FF6C00;
  border-radius: 25px;

  transition: background-color 250ms linear, color 250ms linear ;
}

.main-btn:hover,
.main-btn:focus {
  background-color: var(--accent-color);
  color: var(--dark-theme-main-title);
}

.dark .main-btn {
  color: var(--dark-theme-main-title);
}
/* ================================HEADER END================================ */

/* ===================================HERO=================================== */
/* =================================HERO END================================= */

/* ==================================ABOUT================================== */
.about-list {
  display: flex;
}

.about-block + .about-block {
  margin-left: 64px;
}

.about-list li + li {
  margin-left: 30px;
}
/* ================================ABOUT END================================ */
/* =================================SERVICES================================= */
.services .container {
  display: block;
  background-image: url(../images/services/services-png.png);
  background-color: #111319;
}

.services .section-title {
  margin-bottom: 44px;
}

.price-block {
  display: flex;
}

.price-list {
  width: 50%;
  padding: 30px 40px;
  margin-bottom: 50px;
  /* outline: 1px solid teal; */
}

.price-list > li:not(:last-child) {
  margin-bottom: 20px;
}

.price-list.left {
  background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price-list.right {
  background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.services .main-btn {
  margin: 0 auto;
  display: block;
}
/* ===============================SERVICES END=============================== */

/* =================================FEATURES================================= */
.our-features {
  width: 50%;
  padding: 0 65px;

  border: 1px dotted teal;
}

.features-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 170px;
  height: 133px;
  padding: 20px;
  border: 1px dotted teal;
  background-color: var(--secondary-background-color);
}
/* ===============================FEATURES END=============================== */

/* =================================MASTERS================================== */
.masters .container {
  flex-direction: column;
  background-color: var(--secondary-background-color);
}

.masters .section-title {
  margin-bottom: 44px;
}

.master-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.master-list-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
  margin-bottom: 30px;
}

.master-list-card > img {
  margin-bottom: 30px;
}

.master-name {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
/* ===============================MASTERS END================================ */

/* =================================GALERY=================================== */
.galery .container {
  flex-direction: column;
}

.galery .subtitle {
  margin-bottom: 44px;
}

.fotogalery {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.fotogalery > .foto {
  margin-right: 30px;
  margin-bottom: 30px;
}
/* ===============================GALERY END================================= */

/* ================================CONTACTS================================== */
.contacts .container {
  padding: 0;
  background-color: rgba(25, 28, 38, 1);
}

.form-section {
  width: 50%;
  padding-top: 130px;
  padding-bottom: 130px;
  padding-left: 55px;
  padding-right: 40px;
}

.contacts-section {
  width: 50%;
  padding-top: 130px;
  padding-bottom: 130px;
  padding-left: 100px;
  background-image: url(../images/contacts/Bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
}

.contacts-section > .section-title {
  margin-bottom: 40px;
}

.contacts-section > .subtitle {
  color: var(--dark-theme-main-title);
}

.adress-list {
  margin-bottom: 70px;
}

.adress-list > li {
  margin-bottom: 20px;
}
/* ==============================CONTACTS END================================ */

/* =================================FOOTER=================================== */
.footer .container {
  justify-content: space-between;
}
/* ===============================FOOTER END================================= */
