.about .container {
  display: flex;
  padding-top: 130px;
  padding-bottom: 130px;
}

.about-list {
  display: flex;
}

.about-block+.about-block {
  margin-left: 64px;
}

.about-list li+li {
  margin-left: 30px;
}

.about-description-p {
  margin-bottom: 65px;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
}