.advantages .container {
  display: flex;
  padding-top: 130px;
  padding-bottom: 130px;
}

.our-advantages.left {
  width: calc((100% - 30px) / 2);
  margin-left: 0;
  padding: 0 65px;
}

.our-advantages.right {
  width: calc((100% - 30px) / 2);
  margin-bottom: 0;
  padding-left: 30px;
  margin-right: 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  margin: 0 auto;
}

.advantages-list-item {
  width: calc(50% - 30px);
  height: 133px;
  padding: 20px 20px;
  text-align: center;
  background-color: var(--secondary-background-color);
}

.advantages-li-title {
  position: relative;
  margin-top: 0;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.05em;

  color: var(--main-title-color);
}

.plus-icon {
  position: absolute;
}

.advantages-li-text {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.363;
  text-align: center;

  color: var(--main-title-color);
}

.advantages-list-item:nth-child(even) {
  margin-top: 30px;
}

.advantages-list-item:not(:nth-child(even)) {
  margin-right: 30px;
}