.contacts {
  padding-top: 0;
  padding-bottom: 0;
}

.form-section {
  background-color: rgba(25, 28, 38, 1);
}

.contacts-section {
  background-image: url(../images/contacts/contacts-mobile/contacts-mobile.png), linear-gradient(to right, rgba(25, 28, 38, 1), rgba(25, 28, 38, 1));
  background-size: cover;
  @media screen and (min-resolution: 2dppx) {
    background-image: url(../images/contacts/contacts-mobile/contacts-mobile@2x.png), linear-gradient(to right, rgba(25, 28, 38, 1), rgba(25, 28, 38, 1));
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/contacts/contacts-tablet/contacts-tablet.png), linear-gradient(to right, rgba(25, 28, 38, 1), rgba(25, 28, 38, 1));
    background-size: cover;
    background-position: 50%;
    
    @media screen and (min-resolution: 2dppx) {
      background-image: url(../images/contacts/contacts-tablet/contacts-tablet@2x.png), linear-gradient(to right, rgba(25, 28, 38, 1), rgba(25, 28, 38, 1));
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/contacts/contacts-desktop/contacts-desktop.png), linear-gradient(to right, rgba(25, 28, 38, 1), rgba(25, 28, 38, 1));
    background-size: cover;
    background-position: 50%;
    
    @media screen and (min-resolution: 2dppx) {
      background-image: url(../images/contacts/contacts-desktop/contacts-desktop@2x.png), linear-gradient(to right, rgba(25, 28, 38, 1), rgba(25, 28, 38, 1));
    }
  }
  
  
}

.form-section,
.contacts-section {
  @media screen and (max-width: 767px) {
    .section-title {
      text-align: center;
    }
  }
}

.form-input {
  width: 100%;
  margin-bottom: 44px;
  background-color: inherit;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.363;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--dark-theme-secondary-text-a);

  outline: none;
  border-style: none;
  border-bottom: 1px solid var(--dark-theme-secondary-text-a);

  &::placeholder {
    color: var(--dark-theme-secondary-text-a);
    background-color: inherit;
    border-style: none;
  }

  &:focus {
    color: var(--dark-theme-main-title);
    border-color: var(--dark-theme-main-title);

    &::placeholder {
        color: var(--dark-theme-main-title);
      }
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 36px) / 2);
    &:first-child {
      margin-right: 30px;
    }
  }
}

.textarea-form {
  width: 100%;
  resize: none;
}

.adress-list {
  margin-bottom: 70px;
}

.adress-list__item {
  display: flex;
  margin-bottom: 20px;
}

.adress-link {
  position: relative;
  align-items: center;
  margin-left: 40px;

  &--dark {
    color: var(--dark-theme-secondary-text);
  }

  &__icon {
    position: absolute;
    top: 7px;
    left: -40px;
    margin-right: 20px;
    fill: none;
    stroke: var(--dark-theme-secondary-text);

    transition: stroke 250ms linear;

    .link:hover &,
    .link:focus & {
      stroke: var(--accent-color);
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .contacts-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .adress, .time {
    width: 300px;
  }
  .adress-list {
    width: 220px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts {
    display: flex;
  }
  .form-section,
  .contacts-section {
    width: 50%;
  }

  .form-section {
    padding-left: 55px;
    padding-right: 40px;
  }

  .contacts-section {
    padding-left: 100px;
  }
}

// .contacts {
//   background-image: url(../images/contacts/Bg.png), linear-gradient(to right, rgba(25, 28, 38, 1), rgba(25, 28, 38, 1));
//   background-position: 100% 50%;
//   background-repeat: no-repeat;
// }

// .form-section {
//   width: 50%;
//   padding-top: 130px;
//   padding-bottom: 130px;
//   padding-left: 15px;
//   padding-right: 40px;
// }

// .booking-form-container {
//   display: block;
//   @media screen and (min-width: 480px) {
//     display: flex;
//     justify-content: space-between;
//   }
// }


// .form-input {
//   width: 100%;
//   margin-bottom: 44px;
//   background-color: inherit;
//   font-weight: 600;
//   font-size: 11px;
//   line-height: 1.363;
//   letter-spacing: 0.1em;
//   text-transform: uppercase;

//   color: var(--dark-theme-secondary-text-a);

//   outline: none;
//   border-style: none;
//   border-bottom: 1px solid var(--dark-theme-secondary-text-a);

//   &::placeholder {
//     color: var(--dark-theme-secondary-text-a);
//     background-color: inherit;
//     border-style: none;
//   }
  
//   &:focus {
//     color: var(--dark-theme-main-title);
//     border-color: var(--dark-theme-main-title);

//     &::placeholder {
//         color: var(--dark-theme-main-title);
//       }
//   }

//   @media screen and (min-width: 480px) {
//     width: calc((100% - 30px) / 2);
//   }
// }

// .textarea-form {
//   width: 100%;
//   resize: none;
// }

// .contacts-section {
//   width: 50%;
//   padding-top: 130px;
//   padding-bottom: 130px;
//   padding-left: 100px;
  
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center;
// }

// .adress-list {
//   margin-bottom: 70px;
// }

// .adress-list__item {
//   display: flex;
//   margin-bottom: 20px;
// }

// .adress-link {
//   align-items: center;

//   &--dark {
//     color: var(--dark-theme-secondary-text);
//   }

//   &__icon {
//     margin-right: 20px;
//     fill: none;
//     stroke: var(--dark-theme-secondary-text);
    
//     transition: stroke 250ms linear;
    
//     .link:hover &,
//     .link:focus & {
//       stroke: var(--accent-color);
//       cursor: pointer;
//     }
//   }
// }