.footer {
  display: flex;
  align-items: center;
  width: 100%;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 56px 15px;
  }

  .social-link-item>.link {
    margin-bottom: 0;
    padding: 0;
  }
} 

.copyright {
  display: flex;
  align-items: center;
  margin: 0;
}