.hero {
  &-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.166;
    letter-spacing: 0.05em;
    
    &--dark {
      color: var(--dark-theme-main-title);
    }
  }
}


@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero {
    background-image: url(../images/hero/hero-mobile/hero-image-mobile1.jpg);
    background-size: cover;
    @media screen and (min-resolution: 2dppx) {
      background-image: url(../images/hero/hero-mobile/hero-image-mobile1@2x.jpg);
    }
  }
  
  .hero-left-part {
    display: none;
  }
  
  .hero-right-part {
    display: block;
    align-items: center;
    width: 100%;
    height: 580px;
    padding-top: 208px;
  }
  .hero-text-box {
    width: 306px;
    height: 78px;
  }
}

@media screen and (min-width: 768px) {
  .hero-left-part {
    display: flex;
    align-items: end;
    width: 115px;
    padding-left: 42px;
    padding-bottom: 40px;
  }
  .hero-right-part {
    display: block;
    width: 100%;
    height: 680px;
    padding-top: 272px;
    padding-left: 120px;
    background-image: url(../images/hero/hero-tablet/hero-tablet1.jpg);
    background-size: cover;
    
    @media screen and (min-resolution: 2dppx) {
      background-image: url(../images/hero/hero-tablet/hero-tablet1@2x.jpg);
    }
  }

  .hero-text-box {
    width: 355px;
    height: 189px;
  }
}


@media screen and (min-width: 1280px) {
  .hero-right-part {
    display: block;
    align-items: center;
    width: 1070px;
    height: 680px;
    padding-top: 272px;
    padding-left: 100px;
    background-image: url(../images/hero/hero-desktop/hero1-desktop.jpg);

    @media screen and (min-resolution: 2dppx) {
      background-image: url(../images/hero/hero-desktop/hero1-desktop@2x.jpg);
    }
  }
}







// .hero {
  //   &-title {
//     margin-bottom: 20px;
//     font-weight: 700;
//     font-size: 72px;
//     line-height: 1.18;
//     letter-spacing: 0.05em;
  
//     &--dark {
//       color: var(--dark-theme-main-title);
//     }
//   }
// }




// .hero-left-part {
//   display: flex;
//   align-items: end;
//   width: 115px;
//   padding-left: 42px;
// }

// .hero-right-part {
//   display: block;
//   align-items: center;
//   width: 1070px;
//   height: 680px;
//   padding-top: 272px;
//   padding-left: 100px;
//   background-image: url(../images/hero/hero_image.jpg);
// }


