.masters {
  background-color: var(--secondary-background-color);

  .section-title {
    margin-bottom: 44px;
  }
} 

.masters-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
    margin-bottom: 30px;
  } 
}

.master-foto {
  margin-bottom: 30px;
}

.master-name {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}