.backdrop {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 15px;
  overflow: auto;

  background-color: rgba(85, 85, 85, 0.5);

  transform: scale(1);
  transition: transform 400ms ease-out, opacity 400ms ease-out;
}

