.logo {
  outline: none;
  transform: scale(1);

  transition: transform 250ms linear;

  &:hover {
    transform: scale(1.2);
  }
}

.logo-img {
  width: 69px;
  height: 56px;
  fill: #fff;

  &--dark {
    fill: var(--main-title-color);
  }
}