.main-btn {
  display: inline-block;
  min-width: 160px;
  padding: 12px 20px;

  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  background: none;

  outline: none;
  border: 1px solid #FF6C00;
  border-radius: 25px;

  transition: background-color 250ms linear, color 250ms linear;

  &--dark {
      color: var(--dark-theme-main-title);
    }

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--dark-theme-main-title);
    cursor: pointer;
  }

  .header & {
    display: none;
  }

  .mobile-menu & {
    display: block;
    min-width: 194px;
    margin-bottom: 64px;
  }

  .services & {
    margin: 0 auto;
    display: block;
  }
}

