.modal-form-section {
  width: 100%;
  text-align: center;

  .section-title {
    margin-bottom: 80px;
  }
    
  .textarea-form {
    margin-bottom: 80px;
  }
}

.booking-form {
  padding-bottom: 80px;
}

.form-input.light-theme {
  color: var(--main-title-color);
  border-bottom: 1px solid var(--main-title-color);

  &::placeholder {
    color: var(--main-title-color);
    background-color: inherit;
    border-style: none;
  }
  
  &:focus {
    color: var(--secondary-text-color);
    border-color: var(--accent-color);

    &::placeholder {
      color: var(--dark-theme-secondary-text-a);
    }
  }
}

.textarea-form.light-theme {
  color: var(--main-title-color);
  border-bottom: 1px solid var(--main-title-color);
}