.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 100vw;
  height: 100vh;
  padding: 130px 40px;

  transform: translate(-50%, -50%);

  background-color: var(--body-background-color);

  @media screen and (min-width: 480px) {
    display: flex;
    width: 90vw;
    height: 600px;
  }

  @media screen and (min-width: 768px) {
    width: 640px;
  }
}

.btn-close {
  position: absolute;
  top: 48px;
  right: 31px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;

  // transform: translate(30%, -30%);

  outline: none;
  border-style: none;
  background-color: inherit;
}

.btn-close-icon {
  transition: fill 250ms linear;

  .btn-close:hover &,
  .btn-close:focus & {
    fill: var(--accent-color);
  }
}


.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
  transition: transform 400ms ease-out, opacity 400ms ease-out;
}