.social-networks-list {
  display: flex;
  align-items: center;

  &::before {
    content: "";
    width: 60px;
    height: 1px;
    margin-right: 40px;
    background-color: currentColor;
    }

  .hero & {
    margin: 0;
    transform: rotate(-90deg);
    transform-origin: left top;
  }
}


.social-networks-list__item {
  &:not(:last-child) {
    margin-right: 40px;
  }
}