.social-networks-list {
  display: flex;
  justify-content: right;
  align-items: center;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.363;
  letter-spacing: 0.2em;
  
  &::before {
    content: "";
    width: 60px;
    height: 1px;
    margin-right: 40px;
    background-color: currentColor;
    }

  .hero & {
    margin: 0;
    transform: rotate(-90deg);
    transform-origin: left top;
  }

  @media screen and (max-width:767px) {
    .footer & {
      margin-bottom: 20px;
    }
  }
}


.social-networks-list__item {
  &:not(:last-child) {
    margin-right: 40px;
  }
}