* {
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.666;
  letter-spacing: 0.02em;
  @media screen and (min-width: 480px) {
    font-size: 18px;
  }
}


.link {
  display: flex;
  color: inherit;
  text-decoration: none;
  outline: none;
  
  transition: color 250ms linear;
  
  // &--dark {
    //     color: var(--dark-theme-main-title);
    //   }
    
  &:hover,
  &:focus {
    color: var(--accent-color);
    cursor: pointer;
  }
}

.list {
  list-style: none;
}

.adress {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

section {
  padding-top: 84px;
  padding-bottom: 84px;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    padding-top: 130px;
    padding-bottom: 130px;
  }
}
