.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 31px;
  padding-right: 31px;

  .header & {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .masters {
    display: flex;
    flex-direction: column;
  }
}



@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 40px;
    padding-right: 40px;
    .header & {
      padding-top: 32px;
      padding-bottom: 32px;
    }
    .hero & {
      width: 768px;
      display: flex;
      padding-right: 0;
    }
    .about & {
      display: flex;
    }
    .masters & {
      @media screen and (max-width: 1279px) {
        max-width: 540px;
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    .header & {
      padding-left: 15px;
      padding-right: 15px;
    }
    .hero & {
      width: 1200px;
      padding: 0;
    }
    .about & {
      display: flex;
      padding-top: 0;
      padding-bottom: 0;
    }
    .advantages & {
      display: flex;
      flex-direction: row-reverse;
    }
  }
}


// .container {
//   width: 1200px;
//   padding-left: 15px;
//   padding-right: 15px;
//   margin: 0 auto;

//   .header & {
//     display: flex;
//     align-items: center;
//     padding-top: 32px;
//     padding-bottom: 32px;
//     background-color: unset;
//   }

//   .hero & {
//     display: flex;
//     padding: 0;
//   }

//   .about &, .advantages & {
//     display: flex;
//     padding-top: 130px;
//     padding-bottom: 130px;
//   }

//   .services & {
//     display: block;
//     padding-top: 130px;
//     padding-bottom: 130px;
//     background: none;
//   }

//   .masters & {
//       padding-top: 130px;
//       padding-bottom: 130px;
//       flex-direction: column;
//     }

//   .galery & {
//     display: flex;
//     flex-direction: column;
//     padding-top: 130px;
//     padding-bottom: 130px;
//   }

//   .contacts & {
//     display: flex;
//   }

//   .footer & {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding: 56px 15px;
//   }
// }