:root {
  --main-font: 'Open Sans', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --main-title-color: #303030;
  --secondary-text-color: #555555;
  --accent-color: #FF6C00;
  --dark-theme-main-title: #FFFFFF;
  --dark-theme-secondary-text: #9da4bd;
  --dark-theme-secondary-text-a: #9da4bd99;
  --secondary-background-color: #F7F7F7;
  --body-background-color: #E5E5E5;
}